<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mike.rxdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".lesson1.Lesson1Activity"
            android:label="Lesson1"/>
        <activity
            android:name=".lesson2.Lesson2Activity"
            android:label="Lesson2"/>
        <activity
            android:name=".lesson3.Lesson3Activity"
            android:label="Lesson3"/>
        <activity
            android:name=".lesson4.Lesson4Activity"
            android:label="Lesson4"/>
        <activity
            android:name=".lesson5.ZipActivity"
            android:label="Lesson5"/>
        <activity
            android:name=".lesson6.Lesson6Activity"
            android:label="Lesson6"/>
        <activity
            android:name=".lesson7.Lesson7Activity"
            android:label="Lesson7"/>
        <activity
            android:name=".lesson8.Lesson8Activity"
            android:label="Lesson8"/>
        <activity
            android:name=".lesson9.Lesson9Activity"
            android:label="Lesson9"/>
        <activity
            android:name=".lesson10.Lesson10Activity"
            android:label="Lesson10"/>
        <activity
            android:name=".lesson11.Lesson11Activity"
            android:label="Lesson11"/>


    </application>


</manifest>